<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<%- include("../includes/navigation.ejs") %>
<main>Edit product page</main>
<%- include("../includes/footer.ejs") %>